[submodule "wali-musl"]
	path = wali-musl
	url = https://github.com/arjunr2/wali-musl.git
[submodule "wasm-micro-runtime"]
	path = wasm-micro-runtime
	url = https://github.com/SilverLineFramework/wasm-micro-runtime.git
	branch = wali
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/arjunr2/llvm-project.git
	branch = release/18.x
[submodule "applications/sqlite"]
	path = applications/sqlite
	url = https://github.com/sqlite/sqlite.git
[submodule "applications/vim"]
	path = applications/vim
	url = https://github.com/vim/vim.git
[submodule "applications/libs/zlib"]
	path = applications/libs/zlib
	url = https://github.com/madler/zlib.git
[submodule "applications/FFmpeg"]
	path = applications/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "applications/libs/libevent"]
	path = applications/libs/libevent
	url = https://github.com/libevent/libevent.git
[submodule "applications/libs/ncurses"]
	path = applications/libs/ncurses
	url = https://github.com/mirror/ncurses.git
[submodule "applications/libs/paho.mqtt.c"]
	path = applications/libs/paho.mqtt.c
	url = https://github.com/eclipse/paho.mqtt.c
[submodule "applications/libs/uvwasi"]
	path = applications/libs/uvwasi
	url = https://github.com/arjunr2/uvwasi.git
	branch = wali
[submodule "applications/lua"]
	path = applications/lua
	url = https://github.com/lua/lua.git
[submodule "applications/make"]
	path = applications/make
	url = https://github.com/arjunr2/make.git
	branch = wali
[submodule "applications/memcached"]
	path = applications/memcached
	url = https://github.com/arjunr2/memcached.git
	branch = wali
[submodule "applications/bash"]
	path = applications/bash
	url = https://github.com/arjunr2/bash.git
	branch = wali
[submodule "compiler_ports/rust"]
	path = compiler_ports/rust
	url = https://github.com/arjunr2/rust.git
[submodule "applications/libs/libX11"]
	path = applications/libs/libX11
	url = https://gitlab.freedesktop.org/xorg/lib/libx11.git
[submodule "applications/libs/libxau"]
	path = applications/libs/libxau
	url = https://gitlab.freedesktop.org/xorg/lib/libxau.git
[submodule "applications/libs/libxcb"]
	path = applications/libs/libxcb
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb.git
[submodule "applications/libs/libxdmcp"]
	path = applications/libs/libxdmcp
	url = https://gitlab.freedesktop.org/xorg/lib/libxdmcp.git
[submodule "applications/libs/libxtrans"]
	path = applications/libs/libxtrans
	url = https://gitlab.freedesktop.org/xorg/lib/libxtrans.git
[submodule "applications/libs/xcbproto"]
	path = applications/libs/xcbproto
	url = https://gitlab.freedesktop.org/xorg/proto/xcbproto.git
[submodule "applications/libs/xorgproto"]
	path = applications/libs/xorgproto
	url = https://gitlab.freedesktop.org/xorg/proto/xorgproto.git
