[submodule "wali-musl"]
	path = wali-musl
	url = https://github.com/arjunr2/wali-musl.git
[submodule "wasm-micro-runtime"]
	path = wasm-micro-runtime
	url = https://github.com/SilverLineFramework/wasm-micro-runtime.git
	branch = wali
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/arjunr2/llvm-project.git
	branch = release/16.x
[submodule "applications/sqlite"]
	path = applications/sqlite
	url = https://github.com/sqlite/sqlite.git
[submodule "applications/vim"]
	path = applications/vim
	url = https://github.com/vim/vim.git
[submodule "applications/libs/zlib"]
	path = applications/libs/zlib
	url = https://github.com/madler/zlib.git
[submodule "applications/FFmpeg"]
	path = applications/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "applications/libs/libevent"]
	path = applications/libs/libevent
	url = https://github.com/libevent/libevent.git
[submodule "applications/libs/ncurses"]
	path = applications/libs/ncurses
	url = https://github.com/mirror/ncurses.git
[submodule "applications/libs/paho.mqtt.c"]
	path = applications/libs/paho.mqtt.c
	url = https://github.com/eclipse/paho.mqtt.c
