/// Primitive types
type long = s64;
type long-long = s64;
type short = s16;
type reg = s64;
type unsigned-long = s64;
type unsigned-long-long = s64;
type unsigned-short = u16;
type unsigned-reg = u64;
/// Function pointer = table index
type fn-ptr = u32;
