# WALI Syscall Specification

This page lists all system calls and auxiliary functions defined in the WALI specification:
there are **[[NUM_AUX]]** auxillary functions and **[[NUM_SYSCALLS]]** syscalls supported.

## Auxiliary Functions

These are WALI-specific functions that supplement the standard syscall interface.

[[AUX_TABLE]]

## System Calls

[[SYSCALL_TABLE]]
